*{
    font-size: 40px;
    font-weight: bold;
    margin: 0%;
    padding: 0%;
}
$verde:#4CAF50;

$amarillo:#ddc74c;

$rojo:rgb(185, 51, 51);

.head{
    display: flex;
}
.fas {
    margin-left: 7%;
}
#rojo{
color: $rojo;
}
#amarillo{
color: $amarillo;
}
#verde{
color: $verde;
}